<!DOCTYPE html>
<html>
<head>
<title>Template</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="../fonts.css" type="text/css"/>
<link rel="stylesheet" href="../style.css" type="text/css"/>
</head>
<body>
    <header>
        <iframe src="../header.html"></iframe>
    </header>
    <aside><iframe src="../aside.html"></iframe></aside>

<div id="content">
<h1>Feeling Down? Here's 3 Tips to Pick Yourself Up Again</h1>
<p>Time flies when you’re too busy being burned out and anxious, am I right? 😂 I’ll just go ahead and call myself out now for not posting anything in here for 5 months. Truth be told, this year has been a big blur for me because I’ve spent most of it in survival mode.</p>
<figure>
    <img src="photo-1.webp" alt="missing">
    <figcaption>Photo by Erwin Blumenfeld</figcaption>
</figure>
<p>When I’m in survival mode, I don’t function as usual. I don’t eat regularly, rest, and take care of my mind enough. I don’t exercise much or do things that bring me joy. Instead of letting my creativity out, which is important for my mental health and wellbeing, I just keep piling ideas in my head until it looks like a browser with 100 tabs open at once and do nothing to bring those concepts to life. My hobbies, creative projects, and interests are left hanging and become haunting concepts that keep nagging me in the back of my mind.</p>
<p>Naturally, I haven’t paid much attention to my anxiety levels either and things spiraled out of control. Therapy gave me the tools I needed to keep it in check, but I didn’t use much of those tools in months so here we are.</p>
<p>Back in February my dad almost died of a transient ischemic attack (stroke), then the COVID-19 pandemic started, then another loved one almost died (not covid related). On top of these things I haven’t been doing well myself both mentally and physically – I feel like I’ve spent more time in burnout and dealing with crippling anxiety than I spent out of it.</p>
<p>And I really can’t say I’m doing much better now. Aside from being exhausted, spiraling down into overthinking and anxiety so low that I can almost see petroleum sources, being stuck in a toxic environment, haunted by all the creative projects I didn’t work on, dreams I didn’t chase, and a clash between where I am and where I want to be, I can still see a light at the end of the tunnel.</p>
<blockquote>
<p>You might ask – “And what exactly is that?”. It’s the fact that even if you can’t control external factors, you can control how you respond to them.</p>
</blockquote>
<p>It’s also worth noting that having a roof over my head, food (and coffee!) on my table, a wonderful boyfriend – all aspects that I’m very grateful to have and should be enough of a nudge to make a conscious decision once again to pick myself up and swing from survival to thriving mode.</p>
<p>So we’ve already established that I haven’t done myself any favors by staying so long in survival mode. Looking back, I am once again faced with the consequences of my (in)action when it comes to things I could have done to make life easier for myself. I also see a pattern of things I do to cope on my way out of survival mode and that’s what I want to share with you today.</p>
<p>The premise of this article was to write a “pick me up” piece whilst I’m still down in the trenches, which is hilarious to me. And who knows, maybe reading something like this might be soothing or helpful for someone else.</p>
<h2 id="sleep-rest-and-relaxation">Sleep, Rest and Relaxation</h2>
<p>These are things every human needs in order to function properly and avoid burnout or our mental health spiraling out of control. Yes, you can wing it for a while even without getting enough sleep, rest, or relaxation – but sooner or later, neglecting your low energy and low creativity reserves will always backfire.</p>
<p>We all need some time to just be, without focusing on our regular responsibilities or current problems that need solving. Naturally, whilst you’re busy prioritizing everything over your own wellbeing, life also happens. More often than not life will kick you when you’re already down and burned out – and that hits twice as hard.</p>
<p>As someone who spent this year mostly in burnout and crippling anxiety and been served plenty of lemons by life in a short amount of time, I can confirm I would have probably been hit less hard if I had not been ignoring my need to sleep, rest and relax.</p>
<p>I’d love to say this is the first year I’ve done this survival-mode marathon, but the truth is, I’ve been at it for years and still haven’t properly learned how to manage it. I already knew that depleting my energy and creativity resources is dangerous for me. I also knew that eating properly, sports, hobbies, relaxing activities, alone time or socialization with friends fills me up with a lot of energy and motivation. Reading, writing, learning, listening to music spark my creativity and inspiration. But my survival mode blocked any desire to do these things so I just reverted to my natural state of being a sad, anxious, stressed, frustrated, and burned out couch potato.</p>
<p>Especially now when so many of us have the luxury of working from home, I want to encourage you to listen to your mind, feelings, and body and choose to do things that help you feel better and bring you joy because you surely need some of that right now.</p>
<blockquote>
<p>If you work from home, you can always decide to take time for yourself before/during/after work. Even if it sounds bananas, you would be surprised how good you feel after doing something for yourself. The more you do for yourself on a daily basis, the better you will feel.</p>
</blockquote>
<p>Here are a few go-to places online, that help me get in a better mood:</p>
<ul>
<li>Light Reading: <a href="https://www.nytimes.com/newsletters/smarter-living">Smarter Living (Newsletter)</a>, <a href="https://blog.dropbox.com/topics/work-culture">Work Culture (Blog Section)</a>;</li>
<li>Memes: <a href="https://www.instagram.com/mytherapistsays/">MyTherapistSays</a>, <a href="https://www.facebook.com/PsychComedy">Psychomedy</a>;</li>
<li>Watch List: <a href="https://youtu.be/m_HeEjm-3CQ">My Next Guest Needs no Introduction with David Letterman</a>, <a href="https://www.youtube.com/channel/UC0biFgrMdkv1hFAFLVePODQ">Trixie Mattel</a>, <a href="https://www.youtube.com/watch?v=eZ374Itvg5c&amp;list=PLhgFEi9aNUb2BNrIEecCGXApgeX7Yjwz8&amp;index=1">UNHhhh with Trixie and Katya</a>, <a href="https://www.youtube.com/channel/UCnlA6utKwEkshWt_fJavl8Q">The Bliss Bean</a>, <a href="https://www.youtube.com/channel/UCKx5lHJ6Fr5mbT4TYVLh6ng">The CottageFairy</a>;</li>
<li>Podcasts: <a href="https://podcasts.apple.com/us/podcast/in-bed-with-nick-and-megan/id1487579237">In Bed with Nick and Megan</a>, <a href="https://podcasts.apple.com/us/podcast/the-michelle-obama-podcast/id1532956108">The Michelle Obama Podcast</a>, <a href="https://podcasts.apple.com/us/podcast/table-manners-with-jessie-ware/id1305228910">Table Manners</a>, <a href="https://www.youtube.com/watch?v=DTfJNStQtus">Simplypodlogical</a>;</li>
<li>Illustrations: <a href="https://www.instagram.com/veryrealfantasy/">VeryRealFantasy</a>, <a href="https://www.instagram.com/Ketnipz/">Ketnipz</a>, <a href="https://www.instagram.com/gemmacorrell/">Gemma Corell</a>;</li>
<li>Reddit: <a href="https://www.reddit.com/r/DiWHY">DiWHY</a>, <a href="https://www.facebook.com/PsychComedy">WhatsWrongWithYourDog</a>, <a href="https://www.reddit.com/r/onejob/">You had one job!</a>, <a href="https://www.reddit.com/r/ExpectationVsReality">Expectation Vs. Reality</a>.</li>
</ul>
<p>Feel free to share your own pick-me-up tips, online go-to places for feel-good content, or next side projects in the comment section below ✨</p>
</div>
</body>
</html>
