nav {
    display: block;
    width: 100%;
    text-transform: uppercase;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Lato', sans-serif;
    color: var(--foreground-color, #000000);
    text-align: center;
}

nav svg {
    display: inline;
    vertical-align: -0.4em;
}
nav svg.svg-icon {
    display: inline;
    vertical-align: -0.125em;
}

nav > ul {
    padding: 0;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li ul {
    display: none;
    padding: 0 0 1em 0;
    margin: 0;
    color: var(--foreground-color, #000000);
    background-color: var(--background-color, #ffffff);
    border-left: 1px solid var(--foreground-color, #000000);
    border-right: 1px solid var(--foreground-color, #000000);
    border-bottom: 1px solid var(--foreground-color, #000000);
}

nav li ul li {
    display: block;
    padding: 0;
    margin: 1em 1em 0 1em;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    padding: 1em 1em 0 1em;
    color: var(--foreground-color, #000000);
}

nav a.open {
    border-left: 1px solid var(--foreground-color, #000000);
    border-right: 1px solid var(--foreground-color, #000000);
    border-top: 1px solid var(--foreground-color, #000000);
}

nav li ul li a {
    padding: 0;
    margin: 0;
    color: var(--foreground-color, #ffffff);
    border: 0;
}

nav a:hover {
    color: var(--highlight-color, #f05843);
    fill: var(--highlight-color, #f05843);
}

#logo-line {
    text-align: center;
}

#logo {
    max-width: 100%;
}

#menu-button {
    display: none;
}

@media (max-width: 1050px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    header p {
        margin: 0;
    }

    #logo {
        height: 80px;
    }

    #logo-line {
        display: flex;
        background-color: var(--background-color, #ffffff);
        position: absolute;
        top: 0;
        width: 100%;
    }

    nav {
        display: none;
        position: absolute;
        top: 200px;
        border: 0;
        background-color: var(--background-color, #ffffff);
        overflow: scroll;
        text-align: left;
    }
    nav > ul {
        padding-left: 2em;
    }

    nav a, nav li ul li a {
        color: var(--foreground-color, #000000);
        padding: 0 0 .5em 0;
        display: inline-block;
    }


    #menu-button {
        display: inline flex;
        font-size: 4em;
        margin-left: auto;
        background-color: var(--background-color, #ffffff);
    }

    nav li, nav li ul li {
        display: block;
        padding: 0;
        margin-top: 0;
    }

    nav li ul {
        display: block;
        position: relative;
        padding: 0 0 0 1em;
        background-color: transparent;
        border: 0;
    }

    nav svg.svg-icon {
        display: none;
    }
}