:root {
    --foreground-color: #000000;
    --background-color: #ffffff;
}
@media (prefers-color-scheme: light) {
    :root {
        --foreground-color: #000000;
        --background-color: #ffffff;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #ffffff;
        --background-color: #000000;
    }
}
body {
    width: 100%;
    margin: auto;
}